@import "tailwindcss";

@layer utilities {
  .animate-slow-float {
    animation: float 18s infinite ease-in-out;
  }
}

@keyframes float {
  0%, 100% { transform: translate(0, 0) rotate(0deg); }
  50%      { transform: translate(40px, -50px) rotate(2deg); }
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #fcfafa;
  --hero-color: #1a1a1a;
}

.dark {
  --bg-color: #000000;
  --text-color: #ffffff;
  --border-color: #171717;
  --hero-color: #f5f5f5;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: var(--font-inter), sans-serif;
  font-weight: normal;
}

.border-color {
  background-color: var(--border-color);
}

.nav-bg {
  background-color: var(--bg-color);
  }

.hero-text {
  color: var(--hero-color);
}